.cost {
  margin-top: -265px;
  margin-bottom: 140px;
}

.cost__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cost__info {
  width: 770px;
  margin: 0;
  margin-bottom: 60px;
}

.cost__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.64;
  letter-spacing: -1.245px;
  color: $cost--title;
}

.cost__desc {
  margin: 0;
  margin-bottom: 60px;
  line-height: 1.7;
  letter-spacing: -0.466667px;
  color: $cost--txt;
}

.cost__action {
  margin: 0;
  margin-left: 45px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.55;
}

.cost__link {
  display: flex;
  align-items: center;
  width: max-content;
  max-width: 100%;
  height: 42px;
  font-size: 20px;
  line-height: 1.6;
  color: $cost--link-hover;
  outline: none;

  &:hover,
  &:focus {
    color: $cost--link;
  }

  &:active {
    color: $cost--link-active;

    .cost__icon-phone {
      stroke: $cost--link-active;
    }
  }

  svg {
    display: block;
    margin-right: 20px;
    fill: none;
    stroke: $cost--icon;
    stroke-width: 2;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }
}

.cost__offers {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 770px;
}

@media (min-width: $desktop-width-only-special) {
  .cost__container {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .cost__info {
    width: 290px;
    margin: 0;
    margin-top: 110px;
    margin-left: 110px;
  }
}

@media (min-width: $desktop-width-only) {
  .cost__title {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -18px;
      left: 0;
      width: 175px;
      height: 3px;
      background-color: $cost--decor;
    }
  }
}

@media (max-width: $tablet-width) {
  .cost {
    margin-top: 110px;
    margin-bottom: 125px;
  }

  .cost__info {
    width: auto;
    margin-bottom: 20px;
  }

  .cost__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
  }

  .cost__desc {
    margin-bottom: 35px;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
  }

  .cost__action {
    margin: 0;
    font-size: 18px;
    line-height: 1.9;
    text-align: center;
  }

  .cost__link {
    margin: 0 auto;
    height: auto;
    padding: 10px;
    font-size: 18px;
    line-height: 1.8;
    color: $cost--link;

    &:hover,
    &:focus {
      color: $cost--link-hover;
    }

    &:active {
      color: $cost--link-active;
    }

    svg {
      display: none;
    }
  }

  .cost__offers {
    justify-content: space-evenly;
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .cost {
    margin-bottom: 30px;
  }

  .cost__info {
    margin-bottom: 30px;
  }

  .cost__title {
    font-size: 24px;
  }

  .cost__desc {
    margin-bottom: 20px;
  }

  .cost__offers {
    flex-direction: column;
    align-items: center;
  }

  .cost__offer {
    margin-bottom: 20px;
  }
}
