.locations {
  margin-bottom: 80px;
}

.locations__title {
  width: 350px;
  margin: 0;
  margin-bottom: 65px;
  font-weight: 600;
  font-size: 55px;
  line-height: 1.45;
  letter-spacing: -1.245px;
  color: $locations--title;
}

.locations__desc {
  width: 350px;
  margin: 0;
  margin-bottom: 55px;
  letter-spacing: -0.466667px;
  color: $locations--txt;
}

.locations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -60px;
  margin-bottom: -100px;
  padding: 0;
  list-style: none;
}

.locations__item {
  padding: 0;
  padding-left: 60px;
  padding-bottom: 100px;
}

@media (min-width: $desktop-width-only-special) {
  .locations__item:last-child {
    padding-left: 120px;
  }
}

@media (min-width: $desktop-width-only) {
  .locations__title {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      bottom: -34px;
      left: 0;
      width: 230px;
      height: 4px;
      background-color: $locations--decor;
    }
  }
}

@media (max-width: $tablet-width) {
  .locations__title {
    margin: 0 auto 20px;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: normal;
  }

  .locations__desc {
    margin: 0 auto 40px;
    text-align: center;
  }

  .locations__list {
    margin-left: -30px;
    margin-bottom: -20px;
  }

  .locations__item {
    padding-left: 30px;
    padding-bottom: 20px;

    &:last-child {
      margin-top: 10px;
    }
  }
}

@media (max-width: $mobile-width) {
  .locations {
    margin-bottom: 25px;
  }

  .locations__title {
    width: 288px;
    font-size: 24px;
    line-height: 1.5;
  }

  .locations__desc {
    margin-bottom: 20px;
    width: 288px;
    line-height: 1.75;
  }

  .locations__list {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-bottom: -35px;
  }

  .locations__item {
    padding-left: 0;
    padding-bottom: 35px;

    &:last-child {
      margin-top: 0;
    }
  }
}
