.location-card {
  position: relative;
  display: block;
  color: $location-card--txt;
  outline: none;
}

.location-card__title {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 215px;
  margin: 0;
  padding: 17px 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.415px;
  color: $location-card--txt;
  background-color: $location-card--title-bg;
}

.location-card__img {
  display: block;
}

.location-card__overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $location-card--overlay;

  .location-card:hover &,
  .location-card:focus & {
    display: block;
  }
}

.location-card__hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 266px;
  padding: 30px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $location-card--hint-txt;
  border: 1px solid $location-card--hint-border;

  .location-card:active & {
    color: $location-card--hint-txt-active;
    border: 1px solid $location-card--hint-border-active;
  }
}
