.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__toggle {
  display: none;
  z-index: 5;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-left: 25px;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: $main-nav--link;
  outline: none;
}

.main-nav__phone {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 25px;
  padding: 10px;
  font-size: 18px;
  line-height: 1.8;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: $main-nav--link;
  outline: none;

  svg {
    display: block;
    margin-right: 10px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
  }

  p {
    margin: 0;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width-only) {
  .main-nav__link {
    &:hover,
    &:focus {
      color: $main-nav--link-hover;
    }

    &:active {
      color: $main-nav--link-active;
    }
  }

  .main-nav__phone {
    &:hover,
    &:focus {
      color: $main-nav--link-hover;
    }

    &:active {
      color: $main-nav--link-active;
    }
  }
}

@media (max-width: $tablet-width) {
  .main-nav {
    position: relative;
    width: 100%;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    content: "";
    top: -35px;
    right: -20px;
    width: 72px;
    height: 50px;
    background-color: $main-nav--toggle-bg;
    border: none;
    outline: none;

    .main-nav--nojs & {
      display: none;
    }


    .main-nav--closed &::before,
    .main-nav--opened &::before,
    .main-nav--opened &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 2px;
      background: $main-nav--toggle-burger;
    }

    .main-nav--closed &::before {
      box-shadow:
        0 7px 0 0 $main-nav--toggle-burger,
        0 -7px 0 0 $main-nav--toggle-burger;
    }

    .main-nav--opened &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .main-nav--opened &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .main-nav__list {
    flex-direction: column;
    width: 100vw;
    margin: 0 -20px;

    .main-nav--nojs & {
      margin-top: 15px;
    }

    .main-nav--closed & {
      display: none;
    }

    .main-nav--opened & {
      justify-content: flex-start;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding-top: 135px;
    }
  }

  .main-nav__link {
    position: relative;
    padding: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: $main-nav--link-tablet;
    background-color: $main-nav--bg-tablet;

    &:active {
      color: $main-nav--link-tablet-active;
      background-color: $main-nav--bg-tablet-active;

      &::before,
      &::after {
        background-color: $main-nav--link-tablet-active;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 25px;
      width: 8px;
      height: 2px;
      background-color: $main-nav--link-tablet-arrow;
    }

    &::before {
      transform-origin: top right;
      transform: translateY(50%) rotate(45deg);
    }

    &::after {
      transform-origin: bottom right;
      transform: translateY(-50%) rotate(-45deg);
    }

    .main-nav--nojs & {
      margin-bottom: 2px;
    }

    .main-nav--opened & {
      margin-bottom: 30px;
    }
  }

  .main-nav__phone {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__toggle {
    right: -16px;
    width: 50px;
  }

  .main-nav__list {
    margin: 0 -15px;
  }
}
