.next-trips {
  width: percentage(1 / 3);
}

.next-trips__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
}

.next-trips__tours {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.next-trips__tour {
  width: percentage(1 / 3);
  padding-right: 10px;
}

.next-trips__tour-list {
  margin: 0;
  margin-left: -10px;
  padding: 0;
  list-style: none;
}

.next-trips__link {
  display: block;
  width: max-content;
  max-width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.2;
  color: $next-trips--link;

  &:hover,
  &:focus {
    color: $next-trips--link-hover;
  }

  &:active {
    color: $next-trips--link-active;
  }
}

@media (max-width: $tablet-width) {
  .next-trips {
    width: 375px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: $mobile-width) {
  .next-trips {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  .next-trips__title {
    text-align: center;
  }

  .next-trips__tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .next-trips__tour {
    width: 140px;
    padding: 10px;
    padding-top: 0;
  }

  .next-trips__link {
    margin: 0 auto;
  }
}
