.offer-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 670px;
  padding: 30px;
  padding-top: 40px;
  background-color: $offer-card--bg;
  border: 1px solid $offer-card--border;
  box-sizing: border-box;
  border-radius: 6px;

  &:hover {
    padding: 28px;
    padding-top: 38px;
    border: 3px solid $offer-card--border-hover;
  }
}

.offer-card__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.offer-card__title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -1.27273px;
  color: $offer-card--header;

  .offer-card:hover & {
    color: $offer-card--header-hover;
  }
}

.offer-card__price {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.35;
  color: $offer-card--header;

  .offer-card:hover & {
    color: $offer-card--header-hover;
  }
}

.offer-card__desc {
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 28px;
  line-height: 1.5;
  color: $offer-card--txt;
  border-bottom: 1px solid $offer-card--txt-border;
}

.offer-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer-card__item {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 2;
  color: $offer-card--txt;
}

.offer-card__icon-phone {
  margin-left: 5px;
  margin-right: 10px;
  fill: $offer-card--icon;

  .offer-card:hover & {
    fill: $offer-card--icon-hover;
  }
}

.offer-card__btn {
  margin-top: auto;
}
