// Colors

$black: #141517;

$black-coal: #2c2e3f;
$grey-dark: #48494d;
$grey: #96979f;
$white-almost: #fbf8f8;

$white: #ffffff;

$site: #f17d4b;
$site-brigth: #fe7865;

// Fonts

$montserrat: "Montserrat", verdana, sans-serif;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;

// Blocks

$btn-txt: $white;
$btn-bg: $site-brigth;
$btn-bg-hover: $site;

$page--txt: $black;
$page--bg: $white;

$main-nav--link: $black;
$main-nav--link-hover: $site-brigth;
$main-nav--link-active: $site;
$main-nav--link-tablet: $grey-dark;
$main-nav--link-tablet-active: $white;
$main-nav--link-tablet-arrow: $grey;
$main-nav--link-tablet-arrow: $grey;
$main-nav--bg-tablet: $white-almost;
$main-nav--bg-tablet-active: $site;

$primary-screen-txt: $white;
$primary-screen-txt-alt: $black-coal;
$primary-screen-bg: $grey;
