// Colors

$black: #141517;

$black-coal: #2c2e3f;
$grey-dark: #48494D;
$white-almost: #fbf8f8;

$white: #ffffff;

$site: #f17d4b;
$site-brigth: #fe7865;

// Fonts

$montserrat: "Montserrat", verdana, sans-serif;

// Viewports

$tablet-width: 767px;
$mobile-width: 1023px;
$desktop-width-only: 1024px;

// Blocks
